@model WebAppPg.Models.PlannedIncomeList
@{
    ViewBag.Title = "List of planned income";
}

<div class="pb-1">
    <h3>List of planned income</h3>
</div>

<p><a class="btn" href="/PlannedIncome/Add" style="background-color: #55c9a9; color: #ebfff9">Add new</a></p>

<table class="table table-bordered table-striped table-hover ">
    <thead>
        <tr style="background-color: #f0e8ff;">
            <th>Name</th>
            <th>Account</th>
            <th>Income sourse</th>
            <th>Income type</th>
            <th>Amount</th>
            <th>Currency</th>
            <th>Planned date</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody style="background-color: #fdfcff;">
        @foreach (var plnIncome in Model.plannedIncomeList)
        {
        <tr>
            <td>@plnIncome.name</td>
            <td>@plnIncome.account_name</td>
            <td>@plnIncome.income_source_name</td>
            <td>@plnIncome.income_type_name</td>
            <td>@plnIncome.amount</td>
            <td>@plnIncome.currency_code</td>
            <td>@plnIncome.planned_date</td>
            <td>@plnIncome.start_date</td>
            <td>@plnIncome.end_date</td>
            <td>
                <a class="btn" href="/PlannedIncome/Edit/@plnIncome.id" style="background-color: #55c9a9; color: #ebfff9 ">Edit</a>
                <a class="btn" href="/PlannedIncome/Delete/@plnIncome.id?row_version=@plnIncome.row_version" style="background-color: #55c9a9; color: #ebfff9 ">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<p><a class="btn" href="/PlannedIncome/Add" style="background-color: #55c9a9; color: #ebfff9">Add new</a></p>
